@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Lato:300);
* {
  top: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 1280px) {
  html {
    overflow-x: hidden;
  }
}

body {
  width: 1280px;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
  margin: 0 auto;
}

header {
  height: 100%;
  color: white;
  clear: both;
}
header .bgl {
  height: 100%;
  background-color: #000;
  z-index: 2;
}
@media screen and (min-width: 1280px) {
  header .bgl {
    margin: 0 -100%;
    padding: 0 100%;
  }
}
header video {
  opacity: 0.7;
  z-index: 1;
  position: absolute;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media screen and (min-width: 1280px) {
  header video {
    margin: 0 -100%;
    padding: 0 100%;
    box-sizing: content-box;
  }
}
header nav {
  z-index: 5;
  position: absolute;
  top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  width: 1280px;
  height: 35px;
}
header nav object {
  height: 100%;
  float: left;
}
header nav ul {
  list-style-type: none;
  right: 20px;
  position: relative;
  height: 100%;
  float: right;
}
header nav ul li {
  font-size: 20px;
  float: left;
  margin-left: 40px;
}
header p {
  text-align: center;
  z-index: 5;
  font-size: 72px;
  font-family: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
header #more {
  margin: 100px auto;
  width: 250px;
  height: 75px;
  border: solid 1px white;
  text-align: center;
  line-height: 75px;
  z-index: 5;
  font-size: 36px;
  font-family: 'Lato', sans-serif;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#nav {
  display: none;
  z-index: 99;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #333333;
  background-color: #fff;
}
#nav object {
  height: 35px;
  float: left;
  margin-top: 12.5;
  margin-left: 20px;
}
#nav ul {
  list-style-type: none;
  line-height: 60px;
  float: right;
  margin-right: 20px;
}
#nav ul li {
  font-size: 20px;
  float: left;
  margin-left: 40px;
}
@media screen and (min-width: 1280px) {
  #nav {
    width: 1280px;
    margin: 0 -100%;
    padding: 0 100%;
    box-sizing: content-box;
  }
}

#services {
  height: 500px;
  width: 1170;
}

#works {
  height: 500px;
  width: 1254;
  margin-top: 0;
  padding-top: 50px;
  padding: 50px 0;
  background-color: #fff;
}
#works h1 {
  margin-top: 0;
}
@media screen and (min-width: 1280px) {
  #works {
    padding: 50px 100%;
    margin: auto -100%;
  }
}

.b {
  z-index: 2;
  color: #333333;
  background-color: #fff;
  margin: 50 auto 0 auto;
  box-sizing: content-box;
  position: relative;
}
.b h1 {
  margin: 50px auto;
  font-size: 48px;
  text-align: center;
}
.b .service {
  text-align: center;
  width: 290px;
  float: left;
  margin: 0 50px;
}
.b .service object {
  width: 50%;
  margin-bottom: 30px;
}
.b .service h3 {
  font-weight: 200;
}
.b .service p {
  font-size: 14px;
  text-align: justify;
}
.b .work {
  background-color: #000;
  margin: 0 10px;
  float: left;
  width: 398px;
  height: 288px;
  position: relative;
  overflow: hidden;
  z-index: 3;
}
.b .work img {
  width: 398px;
  height: 288px;
  opacity: 1;
  transition: 0.5s;
  z-index: 5;
  position: absolute;
}
.b .work p {
  width: 100%;
  text-align: center;
  z-index: 50;
  color: #fff;
  font-size: 18px;
  position: absolute;
  line-height: 40px;
  margin-top: 104px;
  opacity: 0;
  transition: 0.5s;
}
.b .work p span {
  font-size: 25px;
}
.b .work:hover img {
  opacity: 0.5;
}
.b .work:hover p {
  opacity: 1;
}
.b .comming {
  background-color: #fff;
}
.b .comming img {
  opacity: 0.3;
}
.b .comming p {
  color: #000;
  opacity: 1;
  margin-top: 0;
  line-height: 288px;
  font-size: 25px;
}

.sep {
  clear: both;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #333;
  z-index: 2;
}
@media screen and (min-width: 1280px) {
  .sep {
    margin: 0 -500%;
    padding: 0 500%;
  }
}

footer {
  z-index: 5;
  position: relative;
  height: 100px;
  background-color: #333333;
  color: #EEEEEE;
}
footer p {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media screen and (min-width: 1280px) {
  footer {
    margin: 0 -100%;
    padding: 0 100%;
  }
}

/*# sourceMappingURL=style.css.map */
