@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Lato:300);

@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin whmax($w, $h){
	min-width: $w;
	min-height: $h;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin font-size($size) {
	font-size:$size;
	font-size: ($size / 16px) * 1rem;
}

*{
	top: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration:none;
}

html{
	@media screen and (min-width: 1280px){
		overflow-x: hidden;
	}
}

body{
	width: 1280px;
	font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
	margin:0 auto;
}

header{
	height: 100%;
	color: white;
	clear: both;
	width: 1280px;
	.bgl{
		height: 100%;
		//width: 1280px;
		background-color: #000;
		@media screen and (min-width: 1280px){
			margin: 0 -100%;
			padding: 0 100%;
		}
		z-index: 2;
	}
	img{
		display: none;
	}
	video{
		opacity: 0.7;
		z-index: 1;
		position: absolute;
		left: 0;
		@include whmax(100%,100%);
		@media screen and (min-width: 1280px){
			margin: 0 -100%;
			padding: 0 100%;
			box-sizing: content-box;
		}
		@media screen and (max-width: 1279px){
			width: 1280px;
		}
	}
	nav{
		z-index: 5;
		position: absolute;
		top: 30px;
		padding-left: 20px;
		padding-right: 20px;
		width: 1280px;
		height: 35px;
		object{
			height: 100%;
			float: left;
		}
		ul{
			list-style-type: none;
			right: 20px;
			position: relative;
			height: 100%;
			float: right;
			li{
				font-size: 20px;
				float: left;
				margin-left: 40px;
				padding: 0 3px;
				transition: .1s;
				&:hover{
					border-bottom: solid 1px #eee;
				}
			}
		}
	}
	p{
		text-align: center;
		z-index: 5;
		font:{
			size: 72px;
			family: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
		}
		@include vertical-align;
	}
	a{
		color: #fff;
	}
	#button{
		position: relative;
		@include vertical-align;
		z-index: 5;
		margin:100px auto;
		width: 250px;
		height: 75px;
		display: block;
		border: solid 1px white;
		opacity: 1;
		transition: .1s;
		&:hover{
			background:#fff;
			color: #555;
			opacity: 0.8;
		}
	}
	#more{
		text-align: center;
		line-height: 75px;
		font:{
			size:36px;
			family: 'Lato', sans-serif;
		}
	}
}

#nav{
	display: none;
	z-index: 50;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 60px;
	border-bottom: 1px dotted #666;
	background-color: #fff;
	.totop{
		height: 60px !important;
		width: 200px !important;

	}
	img{
		height: 35px;
		margin-top: (60-35)/2;
		margin-left: 20px;
		position: relative;
		float: left;
	}
	p{
		position: relative;
		float: left;
		line-height: 60px;
		padding-top: 4px;
		padding-left: 20px;
		color:#003D56;
		font-size: 18px;
	}
	ul{
		list-style-type: none;
		float: right;
		margin-right: 20px;
		margin-top: 15px;

		li{
			font-size: 20px;
			float: left;
			margin-left: 37px;
			margin-right: -3px;
			padding: 0 6px;
			transition: .1s;
			&:hover{
				border-bottom: solid 1px #333;
			}
		}
	}
	a{
		color: #333;
	}
	@media screen and (min-width: 1280px){
		width: 1280px;
		margin: 0 -100%;
		padding: 0 100%;
		box-sizing: content-box;
	}
}
.d{
	display: block !important;
}

#Works{/*Works*/
	text-align: left;
	//height: 500px;
	width: 20*3 + 398*3;
	margin-top: 0px;
	padding-top: 110px;
	padding-bottom: 100px;
	h1{
		margin-top: 0;
	}
	padding-bottom: 50px;
	background-color: #fff;
	@media screen and (min-width: 1280px){
		padding: 110px 100% 100px 100%;
		margin: 0px -100% auto -100%;
	}
	&:after{
		content: "";
		clear: both;
		display: block;
	}
}

#a{/*About*/
	height: 500px;
	.left_c{
		float: left;
		text-align: left;
		width: 600px;
		margin-left: 20px;
		h3{
			font-size: 36px;
			margin-bottom: 20px;
		}
		#self_intro{
			p{
				margin-top: 30px;
			}
		}
	}
	.right_c{
		float: right;
		text-align: left;
		margin-bottom: 30px;
		margin-right: 20px;
		width: 600px;
		.english{
			font-size: 12px;
		}
		.member{
			width: 120px;
			margin-bottom: 10px;
			float: left;
		}
	}
}

#c{/*Contacts*/
	.mail{
		margin:200px auto;
		font-size: 48px;
	}
}

.b{
	z-index: 2;
	color: #333333;
	background-color: #fff;
	margin: -10px auto 100px auto;
	padding-top: 60px;
	box-sizing: content-box;
	position: relative;
	.h{
		font-weight: 800;
	}
	h1{
		margin: 50px auto;
		font:{
			size:48px;
		}
		text-align: center;
	}
	.work{

		background-color: #000;
		margin: 0 10px;
		float: left;
		width: 398px;
		height: 288px;
		position: relative;
		overflow: hidden;
		z-index: 3;
		img{
			height: 288px;
			opacity: 1;
			transition: 0.5s;
			z-index: 5;
			position: absolute;
			left: -57px;
		}
		p{
			width: 100%;
			text-align: center;
			z-index: 50;
			color: #fff;
			font-size: 18px;
			span{
				font-size: 25px;
			}
			position: absolute;
			line-height: 40px;
			margin-top: 104px;
			opacity: 0;
			transition: 0.5s;
		}
		.bg{
			display: none;
		}

		&:hover{
			img{
				opacity: 0.5;
			}
			p{
				opacity: 1;
			}
		}
	}
	.logo{
		img{
			left: -28px;
		}
		border: 1px solid #666;
	}
	.comming{
		background-color: #ddd;
		img{
			opacity: 0.3;
			width: 398px;
			height: auto;
			left: 0;
			@include vertical-align;
		}
		p{
			color: #000;
			opacity: 1;
			margin-top: 0;
			line-height: 288px;
			font-size: 25px
		}
	}
}

$centerMargin : 40px;
$columnWidth : (1240px - $centerMargin)/2;

.m_main{
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 20px;
	margin-right: 20px;
	height: 380px;
	clear: both;
	.video{
		width: $columnWidth;
		height: auto;
		background-color: #DDD;
		iframe{
			width: 100%;
			height: 100%;
		}
	}
	.animeGif{
		width: $columnWidth;
		//height: auto;
		background-color: #DDD;
		img{
			width: 100%;
			height: 100%;
			margin-bottom: 0;
		}
	}
	img{
		width: $columnWidth;
		height: auto;
		margin-bottom: 60px;
		clear: left;
	}
	.cs{
		@include vertical-align;
		text-align: center;
	}
	.info{
		width: $columnWidth;
		.m_theme{
			font-size: 24px;
		}
	}
}

.point{
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	height: 200px;
	clear: both;
	.long{
		width: $columnWidth;
		height: auto;
		margin-bottom: 60px;
		clear: left;
	}
	.pic{
		width: $columnWidth;
		img{
			width: 300px;
			overflow: hidden;
		}
	}
	.exp{
		width: $columnWidth;
	}

}

.sep{
	@media screen and (min-width: 1280px){
		margin: 0 -500%;
		padding: 0 500%;
	}
	clear: both;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #333;
	z-index: 40;
}

.hide{
	display: none;
}

.l{
	float: left;
}

.r{
	float: right;
}

.blank60{
	height: 60px;
}

footer{
	z-index: 5;
	//position: relative;
	p{
		text-align: center;
		@include vertical-align;
	}
	height: 60px;
	background-color: #333333;
	color: #EEEEEE;
	@media screen and (min-width: 1280px){
		margin: 0 -100%;
		padding: 0 100%;
	}
}

.temp_img{
	margin-bottom: 0 !important;
}