@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Lato:300);

@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin font-size($size) {
	font-size:$size;
	font-size: ($size / 16px) * 1rem;
}

*{
	top: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	@media screen and (min-width: 1280px){
		overflow-x: hidden;
	}
}

body{
	width: 1280px;
	font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
	margin:0 auto;
	
}

header{
	height: 100%;
	color: white;
	clear: both;
	.bgl{
		height: 100%;
		background-color: #000;
		@media screen and (min-width: 1280px){
			margin: 0 -100%;
			padding: 0 100%;
		}
		z-index: 1;
	}
	position: relative;
	nav{
		z-index: 5;
		position: absolute;
		top: 30px;
		padding-left: 20px;
		padding-right: 20px;
		width: 100%;
		height: 35px;
		object{
			height: 100%;
			float: left;
		}
		ul{
			list-style-type: none;
			right: 20px;
			position: absolute;
			height: 100%;
			float: right;
			li{
				font-size: 20px;
				float: left;
				margin-left: 40px;
			}
		}
	}
	p{
		text-align: center;
		font:{
			size: 72px;
			family: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
		}
		@include vertical-align;
	}
	#more{
		margin:100px auto;
		width: 250px;
		height: 75px;
		border: solid 1px white;
		text-align: center;
		line-height: 75px;
		font:{
			size:36px;
			family: 'Lato', sans-serif;
		}
		@include vertical-align;
	}
}
#services{
	height: 500px;
	width:(290+50*2)*3;
}
#works{
	height: 500px;
	width: 20*3 + 398*3;
}
.b{
	border-bottom: solid 1px #333333;
	color: #333333;
	margin: 50 auto 0 auto;
	h1{
		margin: 50px auto;
		font:{
			size:48px;
		}
		text-align: center;
	}
	.service{
		text-align: center;
		width: 290px;
		float: left;
		margin: 0 50px;
		object{
			width: 50%;
			margin-bottom: 30px;
		}
		h3{
			font-weight: 200;
		}
		p{
			font:{
				size: 14px;
			}
			text-align: justify;
		}
	}
	.work{
		background-color: #000;
		margin: 0 10px;
		float: left;
		width: 398px;
		height: 288px;
		img{
			width: 100%;
			height: 100%;
			opacity: 1;
			transition: 0.5s;
		}
		&:hover{
			img{
				opacity: 0.5;
			}
		}
	}
}